<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Book</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <div class="container mt-3">
        <h1>Add a New Book</h1>
        <form action="#" th:action="@{/addbook}" method="post">
            <div class="mb-3">
                <label>Author:</label>
                <input type="text" name="author" class="form-control" required />
            </div>
            <div class="mb-3">
                <label>Title:</label>
                <input type="text" name="title" class="form-control" required />
            </div>
            <div class="mb-3">
                <label>ISBN:</label>
                <input type="text" name="isbn" class="form-control" required />
            </div>
            <div class="mb-3">
                <label>Year:</label>
                <input type="number" name="publicationYear" class="form-control" required />
            </div>
            <div class="mb-3">
                <label>Category:</label>
                <select name="categoryId" class="form-control" required>
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Add Book</button>
        </form>
        <br>
        <a href="/booklist" class="btn btn-primary">Back to List</a>
    </div>
</body>

</html>